{% extends 'base.html' %}

{% block content %}

<button id="doAllTheWork">Process New Podcasts</button><br/>
<button id="markdownReportGeneration">Generate Markdown Reports</button>

<script>
    document.getElementById('doAllTheWork').addEventListener('click', function() {
        var button = this;
        postCallFromButton(button, '/api/processall', "");
    });
        document.getElementById('markdownReportGeneration').addEventListener('click', function() {
        var button = this;
        postCallFromButton(button, '/api/generate-all-markdown-reports', "");
    });
</script>

<hr/>

<div>
    {{ html_list|safe }}
</div>

<div>
    <h2>Recent Episodes</h2>
    {{ recent_episodes_html|safe }}
</div>

{% endblock %}