{% extends 'base.html' %}

{% block content %}

<h1>{{category_name}} Rss Feeds</h1>

<h2>Categories</h2>
<ul>
    {% for category in categories %}
    <li><a href="/category/{{category}}">{{ category }}</a></li>
    {% endfor %}
</ul>

<h2>{{category_name}} Feeds</h2>

<ul>
    {% for feed in feeds %}
    <li><a href="/podcasts/{{ feed.url_safe_feedname }}">{{ feed.feedname }}</a></li>
        <ul>
            <li><a href="{{ feed.homeUrl }}" target="_blank">{{ feed.homeUrl }}</a></li>
        </ul>
    {% endfor %}
</ul>

<div>
    {% if recent_episodes_html %}
        <h2>Recent Episodes</h2>
        {{ recent_episodes_html|safe }}
    {% endif %}
</div>

{% if pres %}
{% else %}
    <a href="/podcasts?markdown">Show Markdown</a>
{% endif %}

{% for pre in pres %}
<div>
    <hr/>
    <pre>
{{pre}}
    </pre>
</div>
{% endfor %}


{% endblock %}